:root {
  --azul-palido:hsl(225, 100%, 94%);
  --azul-brillante:hsl(245, 75%, 52%);
  --azul-muy-palido:hsl(225, 100%, 98%);
  --azul-desaturado:hsl(224, 23%, 55%);
  --azul-oscuro:hsl(223, 47%, 23%);
  --fuente:'Red Hat Display', sans-serif;
  --tam-parrafo:1.2rem;
}

html {
  font-size: 62.5%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--fuente);
}

body {
  background-color: var(--azul-palido);
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100vw;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.container .card {
  width: 100%;
  max-width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  border-radius: 15px;
  background-color: white;
  padding: 0 20px;
}

.container .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 81px;
}

.container .card-body h1 {
  font-weight: 900;
}

.container .card-body p {
  text-align: center;
  margin: 0;
  font-size: var(--tam-parrafo);
  font-weight: 500;
}

.container .card-buttons {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: var(--azul-muy-palido);
  border-radius: 10px;
  margin-bottom: 20px;
}

.container .card-buttons img {
  width: 40px;
  height: 40px;
}

.container .card-buttons a {
  color: var(--azul-brillante);
  font-weight: 500;
  margin-left: auto;
}

.container .card-buttons a:hover {
  text-decoration: none;
  color: var(--azul-desaturado);
  font-weight: 700;
}

.container .card-buttons h2 {
  margin: 0 auto;
}

.container .card-buttons h2 span {
  font-weight: 500;
  color: var(--azul-desaturado);
  font-size: 1.2rem;
  text-align: center;
}

.container .card button {
  background-color: var(--azul-brillante);
  width: 100%;
  height: 40px;
  color: white;
  border: 1px solid var(--azul-oscuro);
  border-radius: 10px;
  font-weight: 700;
  -webkit-box-shadow: 0 10px 25px var(--azul-desaturado);
          box-shadow: 0 10px 25px var(--azul-desaturado);
  margin-bottom: 25px;
}

.container .card button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.container .card-footer {
  margin-bottom: 30px;
}

.container .card-footer a {
  font-weight: 700;
  color: var(--azul-desaturado);
  text-decoration: none;
  font-size: 1.2rem;
}

.container .card-footer a:hover {
  color: var(--azul-oscuro);
}
/*# sourceMappingURL=style.css.map */
